.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: inline-block;
  width: 130px;
  text-align: left;
}

.box {
  height: auto;
  margin:0 auto;
  display: block;
  text-align: center;
}

.field { 
  width: 170px;
  text-align: left;
}

.justices  {
  margin:0 auto;
  display: block;
}

.cases {
  height: 300px;
  width: 450px;
  overflow: scroll;
  border: black;
  border-width: 2px;
}